# Ignore all .storage files by default
.storage/*
# But keep UI-configured files:
#!.storage/core.entity_registry
#!.storage/lovelace.*
#!.storage/input_*.*
#!*.yaml
#!*.md
#!*.sh
#!*.js*

# Exclude secrets, SSH artifacts, databases, logs
secrets.yaml
.cloud/
.google.token
.homeassistant_ssh
*.db
*.db* # such as a db backup *.dbbak
*.db.* # such as db.bak2025
home-assistant.log*
*.log
.ssh/

# Ignore SQLite journal files
*.db-shm
*.db-wal
*.bak*
.storage/
