[submodule "notebooks/bokeh-examples"]
	path = notebooks/bokeh-examples
	url = https://github.com/bokeh/bokeh-notebooks.git
[submodule "notebooks/home-assistant"]
	path = notebooks/home-assistant
	url = https://github.com/home-assistant/home-assistant-notebooks.git
