# Ignore all .storage files by default
.storage/*
# But keep UI-configured files:
!.storage/core.config_entries
!.storage/core.entity_registry
!.storage/lovelace.*
!.storage/input_*.*

# Exclude secrets, SSH artifacts, databases, logs
secrets.yaml
.cloud/
.google.token
.homeassistant_ssh
*.db
home-assistant.log*
*.log

# Ignore SQLite journal files
*.db-shm
*.db-wal

# Whitelist
!*.yaml
!.gitignore
!*.md
!*.sh
!*.js*